<div class="container">
	<div class="jumbotron">
		<h1> Multivision </h1>
		<p> Welcome to Multivision! The most comprehensive and complete collection </p>
	</div>
	<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading text-center"> Featured Courses </div>
			<div class="panel-body"> 
				<row ng-repeat="course in courses | filter:{featured:true}"> 
					<div class="col-md-12"><a href="/view/course/{{course._id}}">{{course.title}}</a></div>
				</row>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading text-center"> New Courses </div>
			<div class="panel-body"> 				
				<row ng-repeat="course in courses | orderBy:'published' | limitTo:10"> 
					<div class="col-md-3"> {{course.published | date:'yyyy MMM dd'}} </div>
					<div class="col-md-9"><a href="/view/course/{{course._id}}">{{course.title}}</a> </div>
				</row>
			</div>
		</div>
	</div>
</div>
</div>