<!DOCTYPE html>
<html lang="en">
<head>
    <title>Multivision</title>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/vendor/toastr/toastr.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">

</head>

<body ng-app="app">
<% if(user) { %>
<script type="text/javascript">
    window.currentUser = <%- JSON.stringify(user) %>
</script>
<% } %>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Multivision
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
            <div ng-include="'/partials/account/navbar-login.ejs'"></div>
        </div>
    </div>
</div>

<div ng-view>
</div>

<footer class="container text-center">
    <p> &copy; Multivision Corp International Ltd</p>
</footer>

<script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/vendor/angular/angular.js"></script>
<script type="text/javascript" src="/vendor/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="/vendor/toastr/toastr.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/mvMainCtrl.js"></script>
<script type="text/javascript" src="/js/admin/mvUserListCtrl.js"></script>
<script type="text/javascript" src="/js/account/mvNavBarLoginCtrl.js"></script>
<script type="text/javascript" src="/js/account/mvSignupCtrl.js"></script>
<script type="text/javascript" src="/js/account/mvProfileCtrl.js"></script>
<script type="text/javascript" src="/js/common/mvNotifier.js"></script>
<script type="text/javascript" src="/js/account/mvIdentity.js"></script>
<script type="text/javascript" src="/js/account/mvAuth.js"></script>
<script type="text/javascript" src="/js/account/mvUser.js"></script>

</body>


</html>
