<div class="navbar-right" ng-controller="mvNavBarLoginCtrl as login">
	<form class="navbar-form" ng-hide="login.identity.isAuthenticated()">
		<div class="form-group">
			<input class="form-control" ng-model="username" placeholder="Email"/>
		</div>

		<div class="form-group">
			<input class="form-control" ng-model="password" placeholder="Password" type="password" />
		</div>
		<button class="btn btn-primary" ng-click="login.signin(username,password)">Sign In</button>
		<button class="btn btn-primary" ng-click="login.signup()">Sign Up</button>
	</form>
	<ul ng-show="login.identity.isAuthenticated()" class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="" data-toggle="dropdown" class="dropdown-toggle">{{login.identity.currentUser.firstname}}&nbsp{{login.identity.currentUser.lastname}} <b class="caret"/></a>
				
			<ul class="dropdown-menu">
				<li ng-show="login.identity.currentUser.isAdmin()"> <a href="/admin/users"> User admin</a></li>
				<li><a href="/profile">Profile</a></li>
				<li> <a href="" ng-click="login.signout()"> Sign Out</a> </li>
			</ul>
		</li>
	</ul>
</div>